packages:
  yum:
    amazon-linux-extras: []
commands:
  01_postgres_activate:
    command: sudo amazon-linux-extras enable postgresql14
  03_postgres_install:
    command: sudo yum install -y postgresql-devel
container_commands:
  01_rake_db_migrate:
    command: "RAILS_ENV=production bundle exec rake db:migrate"